/* colour palette 

white: #fff 
red: #CC0033
cerulean blue: #407FA0
*/

/* global */
* {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0%;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.5%;
}

p {
  text-align: center;
  color: #cc0033;
  padding: 2em;
}

/* header */

header {
  display: flex;
  flex-flow: column;
  margin: 0%;
  padding: 0%;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #fffafa;
  margin: 0%;
  padding: 0.5%;
}

.navList {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (min-width: 800px) {
  .navList {
    max-width: 50%;
  }
}
.navItem {
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  .navItem {
    flex: 1;
  }
}
.heading {
  text-align: center;
  background-color: #fffafa;
  margin: 0%;
  padding: 0%;
  width: 100%;
}
.heading h1 {
  color: #cc0033;
  margin: 0%;
  padding: 2%;
}

/* main */
main {
  background-color: #fffafa;
  margin: 0%;
  padding: 0%;
}
main h2,
main h3 {
  color: #407fa0;
}

#aboutUs h2 {
  padding: 2rem;
  margin: 0%;
  text-align: center;
  font-size: 1.75rem;
}
/* #aboutUs p {
  text-align: center;
} */

.pics-container {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
.pic-clubs {
  height: 4em;
  width: auto;
}
.pics-item {
  display: inline-flex;
  width: 12em;
  height: 12em;
  margin: 1%;
  padding: 1%;
}
.joinUs {
  text-align: center;
}
.joinUs span {
  padding: 2em;
}

#classSchedule {
  margin: 1%;
  display: flex;
  justify-content: center;
}

table {
  background-color: #fffafa;
  color: #cc0033;
}
td,
th {
  border: 0.1rem solid #407fa0;
  width: 17rem;
  text-align: center;
}

#events,
#beginners {
  text-align: center;
}
#events div {
  padding: 0.5%;
  margin: 0.5%;
}
ul {
  color: #cc0033;
}
.beginner-resources {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
.resources-item {
  display: inline-flex;
  width: 20em;
  height: 15em;
  margin: 1%;
  padding: 1%;
}
iframe {
  margin: 1%;
  padding: 1%;
  border: none;
  overflow: hidden;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background-color: #fffafa;
  margin: 0%;
  padding: 1%;
}
footer a {
  padding: 1%;
}
